body{
    background-image: url(image/bg_body.png);
  }
  h1{
    color: white; background-color: maroon;
  }
  a {
    background-color: powderblue;
    transition: background-color .5s;
  }
  
  a:hover {
    background-color: blue;
  }